@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #3f3d56 !important;
     */
    background: #babad2!important;
    /* background: linear-gradient(90deg, rgba(61, 61, 67, 1) 1%, rgba(235, 236, 7, 0.9867297260701156) 29%, rgba(252, 72, 169, 1) 100%)!important; */
    width: 100vw;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}